<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rustyclock.orienteering">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="checkpoint" />
            </intent-filter>
        </activity>
        <activity
            tools:replace="android:screenOrientation"
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".HistoryActivity_"
            android:label="@string/history"
            android:parentActivityName=".MainActivity_"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rustyclock.orienteering.MainActivity_" />
        </activity>
        <activity
            android:name=".SettingsActivity_"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity_"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rustyclock.orienteering.MainActivity_" />
        </activity>

        <receiver
            android:name=".SmsStatusReceiver_"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rustyclock.orienteering.SMS_SENT" />
            </intent-filter>0
            <intent-filter>
                <action android:name="com.rustyclock.orienteering.DELIVERED_SENT" />
            </intent-filter>

        </receiver>
    </application>

</manifest>